data/raw
notebooks/credentials.json
notebooks/credentials_long_lived.json
misc/Graph API Explorer - Meta for Developers - Google Chrome 2023-01-18 17-18-06.mp4
data/interim/am_IG_account_insights_2022-01-01_2023-03-01.csv
data/interim/AM_IG_posts_2022-01-01_2023-03-01.csv
data/interim/AM_IG_posts_2022-01-01_2023-03-01.csv
data/interim/AM_IG_posts_2022-01-01_2023-03-01.csv
data/interim/AM_IG_posts_2022-01-01_2023-03-01.csv
data/interim/AM_IG_posts_2022-01-01_2023-03-01.csv
data/interim/AM_IG_posts_2022-01-01_2023-03-01.csv
notebooks/2023-04-21 Graph API acess token refresh.ipynb
